<app-header></app-header>
<div class="ml-3">
    <h1>Issues de la API de GITLAB!</h1>
</div>
<div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Project id</th>
            <th scope="col">Title</th>
            <th scope="col">Due date</th>
          </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of items">
                <tr>
                    
                    <td><a [routerLink]="['/issue',item.iid, item.project_id]">{{item.iid}}</a></td>
                    <!--<td><a [routerLink]="['/issue',item.iid]">{{item.iid}}</a></td>-->
                    <td>{{item.project_id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.due_date}}</td>
                </tr>
            </ng-container>
      </table>


</div>
<app-footer></app-footer>
