<!-- Footer -->
<footer class="page-footer font-small pt-4 bg-grey">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
         

  

        </div>
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center blue py-3">Alumno: Jose Bustamante
      <a href=""> Practica de angular</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->