<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/issues']">Issues</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Issue detail</a>
    </li>
    <li class="nav-item nav-right">
      <a class="nav-link active" href="#">(Usuario: {{user.name}})</a>
    </li>
      
  </ul>
  
  
    
 
