<app-header></app-header>
    <div class="container">
        <h1>Issue detail</h1>
       

        <form>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Project_id</label>
                <label for="staticEmail" class="col-sm-10 col-form-label">{{project_id}}</label>
              </div>
              <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Issue id</label>
                <label for="staticEmail" class="col-sm-10 col-form-label">{{issue_id}}</label>
              </div>
            <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Author</label>
              <label for="staticEmail" class="col-sm-10 col-form-label">{{issue.author.name}}</label>
            </div>
            <div class="form-group row">
              <label for="inputPassword" class="col-sm-2 col-form-label">Creation date</label>
              <label for="staticEmail" class="col-sm-10 col-form-label"> {{issue.created_at}}</label>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
                <label for="staticEmail" class="col-sm-10 col-form-label"> {{issue.description}}</label>
              </div>
          </form>

    </div>
<app-footer></app-footer>
