<div class="container">
    <h2>Login</h2>
    <form #f="ngForm"  (ngSubmit)="submitLogin(f.value)" novalidate>
      <div class="form-group">
        <label for="email">User:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter user" name="username" ngModel>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" ngModel>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>